/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
    background-image: url("https://pixabay.com/get/g8113828d6e6a64554f19311dc8b669765d822147f29fad2091ed744acdd11625a632683c444b716a50dc5877315de6c1c625d8a4cde8602a63ceff7550a88dac4555bdaf8436d4037884a0c9b6f8775a_1920.jpg");
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}
