<div class="pt-4">
    <div style="width: 90%;margin: auto;background: white;">
        <table class="table table-hover">
            <thead>
                <th *ngFor="let col of columns">{{col}}</th>
            </thead>
            <tbody>
                <tr *ngFor="let val of tcData">
                    <td>{{val.id}}</td>
                    <td>SOL</td>
                    <td>{{val.name}}</td>
                    <td>{{val.price}}</td>
                    <td>{{val.disponibility}}</td>
                    <td>{{val.date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>