<div style="width: 50%;margin: auto;height: 55vh;">
  <div class="background d-flex justify-content-center h-100 ">
    <div class="card">
      <div class="card-header">
        <h4>Inicia Sesión</h4>
      </div>
      <div class="card-body">
        <form method="POST" [formGroup]="formLogin" (ngSubmit)="onValidate()">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" formControlName="userName"  class="form-control" placeholder="Usuario" name="username" />
          </div>

          <div class="input-group form-group pt-4">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" formControlName="contrasena"  class="form-control" placeholder="Contraseña" name="password" />
          </div>
          <br>
          <div class="form-group pt-4 text-center">
            <input type="submit" value="Ingresar" class="btn login_btn" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>